{% extends 'base.html' %}
{% block main_content %}
<!-- Starts Main Section -->
<main>
    <!-- Start Edit Pet Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit Pet</h2>
        <!-- Start Edit Pet From -->
        <form action="{% url 'edit pet' username=username pet_slug=pet.slug %}" method="post">
          {{ pet_form.as_p }}
            {% csrf_token %}
            <button class="edit-btn" type="submit">Edit</button>
        </form>
        <!-- End Edit Pet Form -->
<h3>Current Image: </h3>
        <img height="60" src="{{ pet.pet_photo }}" alt="Image of {{ pet.name }} ">
    </div>
    <!-- End Edit Pet Section -->

</main>
<!-- End Main Section -->
{% endblock %}

</body>
</html>