{% extends 'base.html' %}

{% block main_content %}

<!-- Starts Main Section -->
<main>
    <!-- Starts Delete Pet Section -->
    <div class="edit-delete edit-photo">
        <h2>Delete pet</h2>
        <!-- Starts Delete Pet Form -->
        <form action="{% url 'delete pet' username=username pet_slug=pet.slug %}" method="post">
            {{ pet_form }}
            <!-- Delete Pet Button -->
            <button class="delete-btn" type="submit">Delete</button>
            <!-- Go Back Button -->
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
            {% csrf_token %}
        </form>
        <!-- End Delete Pet Form -->
    </div>
    <!-- End Delete Pet Section -->
</main>
<!-- End Main Section -->
{% endblock %}
</body>
</html>