{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Start Head Section -->
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
    <title>Petstagram</title>
</head>
<!-- End Head Section -->
<body>

{% include 'partials/layout/header.html' %}

<main>
    {%  block main_content %}
        
    {% endblock %}
</main>

<!-- Start Footer Section -->
<div class="footer">
		<span class="footer-section">
			© 2024 SOFTUNI WORKSHOP FOR PYTHON WEB MODULE
		 </span>
</div>
<!-- End Footer Section -->
</body>
</html>